<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hangdun.Mapper.EsUserMapper">
 	<resultMap id="esuser" type="cn.com.hangdun.pojo.hansight.EsUser"   >
 		<result property="id" column="id" jdbcType="INTEGER"/>
 		<result property="username" column="es_username" jdbcType="VARCHAR"/>
 		<result property="password" column="es_password"  jdbcType="VARCHAR"/>
 		<result property="createtime" column="es_createtime"  jdbcType="VARCHAR"/>
 		<result property="pid" column="es_pid"  jdbcType="VARCHAR"/>
 		<result property="name" column="es_name"  jdbcType="VARCHAR"/>
 	</resultMap>
 	
 	<sql id="esuserSql">
 		id,es_username,es_password,es_createtime,es_pid,es_name
 	</sql>
 	
    <select id="getUserByPid" parameterType="String" resultMap="esuser">
    	select  <include refid="esuserSql"/> from es_user where es_pid=#{pid}
    </select>
    
    <select id="getUserByUsername" parameterType="String" resultMap="esuser">
    	select  <include refid="esuserSql"/> from es_user where es_username=#{username}
    </select>
    
    
</mapper>